/* .backgroundContainer {
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    opacity: 0.5
  } */

  .backgroundContainer {
    position: relative;
    min-height: 100vh;
    display: flex; /* 启用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
  
  .backgroundContainer::before {
    content: "";
    background-image: url('https://source.unsplash.com/random?library');
    background-size: cover;
    background-position: center;
    opacity: 1; /* 设置透明度，可以根据需要调整，范围0到1 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .formContainer {
    background-color: white; /* 或其他颜色 */
    padding: 2rem; /* 内边距 */
    border-radius: 1rem; /* 圆角 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  }
  
  
  
